.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  width: 100%;
  max-width: 108.4375rem;
  height: var(--header-height);
  margin: 0 auto;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 5.0rem 5.63rem 5.0rem 6.31rem;
  z-index: 100;
  box-sizing: border-box;
}

.menuButton {
  display: flex;
  flex-direction: column;
  gap: 0.3125rem;
  padding: 0.5rem;
  background: none;
  border: none;
}

.line {
  display: block;
  width: 2.9375rem;
  height: 0.125rem;
  background: #20373b;
  flex-shrink: 0;
}
