.logo {
  display: block;
  width: 5.93806rem;
  height: 4.1875rem;
  flex-shrink: 0;
  background: none;
  border: none;
  outline: none;
  padding: 0;
}

.logo:focus {
  outline: none;
}

.icon {
  display: block;
  width: 5.93806rem;
  height: 4.1875rem;
  object-fit: contain;
}
