.root {
  padding-top: var(--header-height);
  min-height: 100vh;
  padding-bottom: 3rem;
  background: var(--color-bg-dark);
  border-top: 0.25rem solid var(--color-blue-500);
}

.wrapper {
  max-width: 30rem;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem 1rem;
}

.title {
  margin: 0 0 0.5rem;
  font-size: var(--space-9);
  font-weight: var(--font-weight-light);
  color: var(--color-slate-200);
  text-align: right;
}

.subtitle {
  margin: 0 0 1.5rem;
  font-size: 0.875rem;
  color: var(--color-slate-400);
  text-align: right;
}
